body{

}
p{
	border: 3px solid #4CAF50;
	overflow: auto; 
}

.p_2{
	clear:left;
}

p::after {
	
}
img{
	width:20%;
}
img.img__planet{
	margin-left:10px;
	float: right;
	clear:b;
}

img.img__night{
	margin-right:10px;
	height:170px;
	float: left;
	
}
div.main_content{
	width:100%;
	max-width: 1000px;
	margin:0 auto;
}